.header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}
/* .nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  width: 200px;
  margin: 0 auto;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  border: 2px solid transparent;
  text-align: center;
}
.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(135deg, #9c27b0, #4caf50);
  color: #fff;
  border: 2px solid transparent;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}
